@media screen and (max-width : 1200px) {
    
}
@media screen and (max-width : 768px) {
    
    
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0;
        gap: 0;
        display: block;
        box-shadow: 0 3px 6px rgba(0,0,0, .36);
        background-color: #fff;
        width: 50%;
        text-align: left;
        line-height: 40px;
        transition: 0.3s;
        padding: 0 3%;
    }

    nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        right: 0;
    }
    
    /* #contactMenu{
        padding: 20px 0;
        justify-content: space-around;
        display:block;
        list-style-type: none;
        column-count: 2;
        margin: .5em 0  ;
    } */
    /* #smthContact{
        display: inline-block;
        
    } */

    /* header{
        width: 45px;
        top: 20px;
        right: 10px;
    } */
    /* .nav-home{
        display: none;
    } */

    #home{
        /* height: 60vh; */
    }

    #contactMenu{
        display: grid;
    }

    h1{
        margin-top: 10%;
        font-size: 24px;
    }

    p{
        font-size: 20px;
    }
}

@media screen and (max-width : 605px){
    

    .catalog{
        display: flex;
        flex-direction: column;
    }

    .img-pic{
        width: 100%;
        height: 240;
    }
    
    #contactMenu{
        font-size: 16px;
        text-shadow: none;
    }

    h1{
        margin-top: 15%;
    }

    .zvon{
        width: 100%;
    }
}

@media screen and (max-width : 400px) {
    #contactMenu{
        font-size: 14px;
        text-shadow: none;
    }

    .img-pic{
        width: 100%;
        height: 180;
    }

    .material-icons:disabled{
        display: none;
    }
    h1{
        margin-top: 25%;
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }
}
