*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;

}

div,section,span,ul,li,a,header{
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    /* float: left; */
    margin: 10px;
    background-color: #7D9D9C;
    text-align: center;
    line-height: 40px;
    width: 100px;
    margin: 4px 2px;
    border-radius: 16px;
    border: 2px solid #FFDEDE;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* #meni li a:hover{
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
} */

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
    background-color: #1F4690;
    background-image: url("images/LogoLeftUpCorner.png");
    background-position: top;
    background-repeat: no-repeat;
}

#about{
    background-color: #fff;
    background-image: url("images/SnakeBruh.png");
    background-position: right;
    background-repeat: no-repeat;
    /* background-color: #ED6663; */
}

#product{
    background-color: #fff;
    background-image: url("images/SnakeBruh.png");
    background-position: left;
    background-repeat: no-repeat;
    /* background-color: #B52B65; */
}

#pricing{
    background-color: #fff;
    background-image: url("images/SnakeBruh.png");
    background-position: right;
    background-repeat: no-repeat;
    /* background-color: #3C2C3E; */
}

#contact{
    background-color: #1F4690;
    height: 50vh;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
}

p1{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

#telephoneContact{
    position: absolute;
    top: 15%;
    right: 25%;
}

#addressContact{
    position: absolute;
    top: 15%;
    left: 25%;
}

#smthContact{
    position: absolute;
    top: 15%;
    left: 50%;
    /* letter-spacing: 5px; */
}